<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>권한이 없습니다</title>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        img {
            max-width: 50%;
            max-height: 50%;
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
    <img src="https://img.freepik.com/free-vector/403-error-forbidden-concept-illustration_114360-5571.jpg">
</body>
</html>