<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인해주세요</title>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        img {
            max-width: 50%;
            max-height: 50%;
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
    <img src="https://img.freepik.com/free-vector/401-error-unauthorized-concept-illustration_114360-5531.jpg?size=338&ext=jpg&ga=GA1.1.1546980028.1701648000&semt=sph">
</body>
</html>